*.sqlite3

# Ignore expanded gems, since some will need to be compiled when `gem bundle`
# is run. We keep the cached .gem files, though, so they don't have to be re-downloaded.
/vendor/gems/*
!/vendor/gems/cache
!/vendor/gems/dirs
/vendor/bin/*
*~
*.swp
.bundle/
